html {
    height: 100%;
    width: 100%;
  }
  .container{
    background-image:url("https://res.cloudinary.com/dsf2gec5l/image/upload/v1675003598/WebDev/session-6/dubai-md_prgquo.jpg");
    background-color:red;
    height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;
    max-width: 100%;
    
  }
  .inner-container{
    max-width: 70%;
    text-align: center;
  }

  @media only screen and (max-width : 768px)
  {
    .container{
        background-image:url("https://res.cloudinary.com/dsf2gec5l/image/upload/v1675003383/WebDev/session-6/khalifa_dbsk7o.jpg");
    }
  }